name: Terraform CI (Access Keys!)

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-north-1
      AWS_DEFAULT_REGION: eu-north-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug AWS env (SAFE)
        run: |
          echo "ACCESS KEY SET? -> ${AWS_ACCESS_KEY_ID:+YES}"
          echo "SECRET KEY SET? -> ${AWS_SECRET_ACCESS_KEY:+YES}"
          echo "REGION -> $AWS_REGION"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
      - name: Terraform Apply
        run: terraform destroy
